.posts {
  border-left: solid 2px $green;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  h2 {
    margin-bottom: 30px;
  }
}

.post {
  border-bottom: solid 1px $light-gray;
  padding-bottom: 40px;
  margin-bottom: 30px;
  position: relative;
  
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -50px;
    top: 3px;
    height: 20px;
    width: 20px;
    border: solid 2px $green;
    background-color: $body-color;
    border-radius: 100%;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
  }
  
  &:hover {
    &:before {
      background-color: $green;
    }
  }
}

.tags {
  @extend %clearfix;
  
  margin-top: 20px;
}

.tag {
  background-color: $green;
  color: #fff;
  font-size: .75em;
  padding: .25em .5em;
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
  
  a {
    color: #fff;
    text-decoration: none;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fake-form-row {
  margin-bottom: 20px;
  
  .fake-label {
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    width: 100px;
    text-align: right;
  }
  
  .fake-input {
    display: inline-block;
    width: 200px;
    background-color: #fff;
    color: #555;
    padding: 1em;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0,0,0,.125);
    border-radius: 3px;
    transition: box-shadow .3s;
    
    &.focus {
      box-shadow: 0 2px 5px rgba(0,0,0,.375);
      
      .cursor {
        visibility: visible;
      }
    }
  }
}

.fake-submit {
  display: inline-block;
  background-color: #2ec97b;
  width: 200px;
  margin-left: 100px;
  padding: 1em;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.125);
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  position: relative;
  top: 0;
  transition: top .2s, box-shadow .2s;
  
  &.hover {
    top: 2px;
    box-shadow: none;
  }
}

.cursor {
  position: relative;
  visibility: hidden;
  
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #555;
    margin-left: 2px;
    animation: blink 1.125s steps(2, start) infinite;
  }
}
