.posts {
  border-left: solid 2px $green;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post {
  border-bottom: solid 1px $light-gray;
  padding-bottom: 40px;
  margin-bottom: 30px;
  position: relative;
  
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -50px;
    top: 3px;
    height: 20px;
    width: 20px;
    border: solid 2px $green;
    background-color: $body-color;
    border-radius: 100%;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
  }
  
  &:hover {
    &:before {
      background-color: $green;
    }
  }
}

.tags {
  @extend %clearfix;
  
  margin-top: 20px;
}

.tag {
  background-color: $green;
  color: #fff;
  font-size: .75em;
  padding: 3px 6px;
  display: block;
  float: left;
  margin-right: 10px;
}
