.contained {
  max-width: 37.5em;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.viewport-height {
  min-height: 600px;
  min-height: 100vh;
}

.viewport-half-height {
  min-height: 300px;
  min-height: 50vh;
}

.valign-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  min-height: 600px;
  min-height: calc(100vh - 80px);
  background-color: #efeeea;
  background-size: 100% 100%;
  padding: 40px;
}

.gray-bg {
  background-color: $gray;
  color: $text-color;
}

.blue-bg {
  background-color: $blue;
  color: #fff;
}

.white {
  color: #fff;
}

.blue {
  color: $blue;
}

.gray {
  color: $gray;
}

.nameplate {
  font-family: 'Garamond', 'Adobe Garamond', 'Merriweather', serif;
  font-weight: normal;
  font-size: 4em;
  
  @media (min-width: 30em) {
    font-size: 6em;
  }
}

.bg-image {
  background-size: cover;
}

.padded {
  padding: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}
