section {
  position: relative;
}

.contained {
  max-width: 37.5em;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.viewport-height {
  min-height: 600px;
  min-height: 100vh;
}

.viewport-half-height {
  min-height: 300px;
  min-height: 50vh;
}

.valign-center {
  display: flex;
  align-items: center;
}

.hero {
  background-size: 100% 100%;
}

.gray-bg {
  background-color: $gray;
  color: $text-color;
}

.light-gray-bg {
  background-color: $light-gray;
  color: $text-color;
}

.blue-bg {
  background-color: $blue;
  color: #fff;
}

.white {
  color: #fff;
}

.blue {
  color: $blue;
}

.gray {
  color: $gray;
}

.nameplate {
  font-family: 'Garamond', 'Adobe Garamond', 'Merriweather', serif;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.125;
  display: inline-block;
  
  &.underlined {
    padding-left: .75em;
    padding-right: .75em;
    padding-bottom: .375em;
    border-bottom: solid 1px;
  }
  
  &.bordered {
    border: solid 2px;
    border-radius: 3px;
    padding: .375em .75em;
  }
  
  a {
    color: inherit;
    
    &:hover {
      color: inherit;
    }
  }
}

@-webkit-keyframes nameplate-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  
}

@keyframes nameplate-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
  20% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  
}

.large-nameplate {
  @extend .nameplate;
  font-size: 3em;
  opacity: 1;
  -webkit-animation: nameplate-in 2s 1;
  animation: nameplate-in 2s 1;
  
  @media (min-width: 30em) {
    font-size: 6em;
    padding-bottom: 30px;
  }
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 40px;
}

.bg-image {
  background-size: cover;
}

.padded {
  padding: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.clearfix {
  @extend %clearfix;
}
