section {
  position: relative;
}

.contained {
  width: 100%;
  max-width: 37.5em;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.viewport-height {
  min-height: 400px;
  height: 100vh;
}

.viewport-half-height {
  min-height: 200px;
  height: 50vh;
}

.valign-center {
  display: flex;
  align-items: center;
}

.hero {
  background-size: 100% 100%;
}

.gray-bg {
  background-color: $gray;
  color: $text-color;
}

.light-gray-bg {
  background-color: $light-gray;
  color: $text-color;
}

.blue-bg {
  background-color: $blue;
  color: #fff;
}

.white {
  color: #fff;
}

.blue {
  color: $blue;
}

.gray {
  color: $gray;
}

.nameplate {
  display: inline-block;
  
  img {
    display: block;
    width: 160px;
  }
  
  &.underlined {
    padding-left: .75em;
    padding-right: .75em;
    padding-bottom: .375em;
    border-bottom: solid 1px;
  }
  
  &.bordered {
    border: solid 2px;
    border-radius: 3px;
    padding: .75em .75em .5em .75em;
  }
  
  a {
    color: inherit;
    
    &:hover {
      color: inherit;
    }
  }
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 40px;
}

.bg-image {
  background-size: cover;
}

.padded {
  padding: 30px;
  
  @media (min-width: 30em) {
    padding: 40px;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.clearfix {
  @extend %clearfix;
}

.flex {
  display: flex;
  
  &.columns {
    flex-direction: column;
  }
}

.flex-grow {
  flex-grow: 1;
}
