h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.25;
  
  &.underlined {
    border-bottom: solid 1px $light-gray;
    padding-bottom: .5em;
  }
  
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 1.875em;
  margin-bottom: 40px;
  
  @media (min-width: 30em) {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 1.5em;
  padding-bottom: .25em;
  border-bottom: solid 1px $light-gray;
  
  @media (min-width: 30em) {
    font-size: 1.875em;
  }
}

h3 {
  font-size: 1.25em;
  
  @media (min-width: 30em) {
    font-size: 1.5em;
  }
}

h4 {
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: #555;
  -webkit-transition: color .3s;
  transition: color .3s;
  
  &:hover {
    color: #333;
  }
  
  &.white:hover {
    color: #fff;
  }
}

p {
  font-family: 'Merriweather', serif;
  line-height: 1.75;
  color: #555;
  margin-top: 20px;
  margin-bottom: 20px;
  
  @media (min-width: 30em) {
    line-height: 1.875;
  }
  
  a {
    color: $green;
    border-bottom: dotted 1px $green;
    
    &:hover {
      color: $green;
      border-bottom-style: solid;
    }
  }
  
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

time {
  color: $gray;
  font-size: .875em;
  font-family: 'Merriweather', serif;
  font-style: italic;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.transform-uppercase {
  text-transform: uppercase;
}

code {
  padding: 3px 5px;
  background-color: #f6f5f4;
  color: #555;
  margin: 0;
  line-height: 1;
  border-radius: 2px;
  font-size: .875em;
  display: inline-block;
}
