$gray: #676564;
$blue: #304dbb;
$green: #2ec97b;
$light-gray: #dddcdb;

$body-color: #fefdfc;
$text-color: #333;

%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
