<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <section class="hero viewport-height padded valign-center align-center" style="background-image: url('/images/hero-bg.svg')">
      <div class="contained centered align-center">
        <!-- <h1 class="large-nameplate white">Joseph Weber</h1> -->
        <!-- <div class="subheading white">
          <span class="type-me"></span><span class="cursor">&nbsp;</span>
        </div> -->
        <div class="fake-form-row">
          <div class="fake-label">
            Name:
          </div>
          <div class="fake-input" id="name">
            <span class="type-me"></span><span class="cursor">&nbsp;</span>
          </div>
        </div>
        <div class="fake-form-row">
          <div class="fake-label">
            Occupation:
          </div>
          <div class="fake-input" id="occupation">
            <span class="type-me"></span><span class="cursor">&nbsp;</span>
          </div>
        </div>
        <div class="fake-submit">Submit</div>
      </div>
    </section>
    
    {{ content }}

    {% include footer.html %}
    
    <script src="js/writer.js"></script>
    <script>
      var input1 = new FakeInput('#name');
      var input2 = new FakeInput('#occupation');
      var queue = new Queue();
      
      queue.add(function() {
        input1.focus();
        this.wait(1000);
      }).add(function() {
        input1.type('Joseph Weber');
      }).add(function() {
        input1.blur()
        this.wait(500);
      }).add(function() {
        input2.focus();
        this.wait(500);
      }).add(function(){
        input2.type('photographer');
      }).add(function() {
        this.wait(500);
      }).add(function() {
        input2.backspace(12);
      }).add(function() {
        this.wait(500);
      }).add(function() {
        input2.type('designer');
      }).add(function() {
        this.wait(500);
      }).add(function() {
        input2.backspace(8);
      }).add(function() {
        this.wait(500);
      }).add(function() {
        input2.type('web developer');
      }).add(function() {
        input2.blur();
        this.next();
      }).add(function() {
        var submit = document.querySelector('.fake-submit')
        submit.classList.add('hover');
        setTimeout(function() {
          submit.classList.remove('hover');
        }, 200);
      }).start();
      
    </script>
  </body>

</html>
