<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <section class="hero viewport-height flex columns" style="background-image: url('/images/hero-bg.svg')">
      <div class="valign-center flex-grow">
        <div class="contained centered padded">
          <div class="name hide align-center">
            <div class="large-nameplate">
              <img src="{{ site.baseurl }}/images/nameplate.svg" alt="Joseph Weber" />
            </div>
          </div>
          <div class="fake-form">
            <div class="fake-form-row">
              <div class="fake-label">Name</div>
              <div class="fake-input" id="name">
                <span class="type-me"></span><span class="cursor">&nbsp;</span>
              </div>
            </div>
            <div class="fake-form-row">
              <div class="fake-label">Occupation</div>
              <div class="fake-input" id="occupation">
                <span class="type-me"></span><span class="cursor">&nbsp;</span>
              </div>
            </div>
            <div class="fake-form-row">
              <div class="fake-submit">Submit</div>
            </div>
          </div>
        </div>
      </div>
      <div class="scrolldown">
        <img src="{{ site.baseurl }}/images/arrow.svg" />
      </div>
    </section>
    
    {{ content }}

    {% include footer.html %}
    
    <script src="js/writer.js"></script>
    <script>
      var input1 = new FakeInput('#name');
      var input2 = new FakeInput('#occupation');
      var queue = new Queue();
      var submit = document.querySelector('.fake-submit')
      
      queue.add(function() {
        this.wait(700);
      }).add(function() {
        input1.focus();
        this.wait(700);
      }).add(function() {
        input1.type('Joseph Weber');
      }).add(function() {
        input1.blur()
        this.wait(300);
      }).add(function() {
        input2.focus();
        this.wait(300);
      }).add(function(){
        input2.type('photographer');
      }).add(function() {
        this.wait(300);
      }).add(function() {
        input2.backspace(12);
      }).add(function() {
        this.wait(300);
      }).add(function() {
        input2.type('designer');
      }).add(function() {
        this.wait(300);
      }).add(function() {
        input2.backspace(8);
      }).add(function() {
        this.wait(300);
      }).add(function() {
        input2.type('web developer');
      }).add(function() {
        input2.blur();
        this.wait(700);
      }).add(function() {
        submit.classList.add('hover');
        this.wait(200);
      }).add(function() {
        var _this = this;
        submit.classList.remove('hover');
        submit.classList.add('click');
        setTimeout(function() {
          submit.classList.remove('click');
          _this.wait(700);
        }, 200);
      }).add(function() {
        var form = document.querySelector('.fake-form');
        form.style.opacity = 0;
        form.style.transitionDuration = '500ms';
        setTimeout(function() {
          form.classList.add('hide');
          document.querySelector('.name').classList.remove('hide');
        }, 500);
      }).start();
      
    </script>
  </body>

</html>
